#do{
    width: 40vw;
    padding:15px;
font-size: medium;
background:linear-gradient(rgb(194, 197, 145),rgb(203, 209, 153),rgb(187, 192, 146))
}.btn{
   margin-top: 20px; 
   color:rgb(39, 0, 12);
   background-color: brown;
}
.todo{
    width:40vw;
    border:1px solid grey;
   border-radius: 20%;
   overflow: auto;
    height: 50vh;
   
    background:linear-gradient(rgb(138, 156, 161),rgb(212, 207, 128),pink);
}
.container{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgb(175, 177, 214),rgb(181, 155, 184));
    border: 3px solid gray;
    padding:5px;
    display:inline-block;
}
h3{
    color:rgb(46, 26, 94);

}
.kp{
    color:rgb(71, 88, 54);
text-decoration:underline double green;

}
ul li{
    color:black;
    font-size: larger;
}
img{
    position: absolute;
    right:20px;
}